:root {
  --color: #000000;
  --spacing: 10px;
  --blur: 0px;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: rgb(236, 209, 159) !important;
}

.JS-span {
  color: var(--color);
}

.workspace {
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

img {
  display: block;
  margin: auto;
  padding: var(--spacing);
  background: var(--color);
  filter: blur(var(--blur));
}

label {
  font-size: 20px;
  padding: 5px;
}
